
* {
    margin: 0;
    padding: 0;
}
/* .titulo_cadastro{
    font-family: 'Dosis', sans-serif;
    margin-bottom: 40px;
    font-size: 30px;
    color:#BC3908;
} */

.container_cadastro {
    width: 900px;
    background-color: white;
    padding: 40px 40px;
    margin: 40px;
    border-radius: 4px;
    -webkit-box-shadow: 5px 5px 30px -15px rgba(204, 204, 204, 1);
    -moz-box-shadow: 5px 5px 30px -15px rgba(204, 204, 204, 1);
    box-shadow: 5px 5px 30px -15px rgba(204, 204, 204, 1);
    margin: auto;
}

.tipodeusuario  {
    align-items: center;
    display: flex !important;
    flex-direction: row !important;
    width: 100px; 
    justify-content: space-around;

}
.radio_casdastro{
    height: 20px !important;
    width: 20px;
}

/* .tipodeusuario{
    
} */

.direito{
    width: 50%;
    align-items: center;
}
.esquerdo{
    width: 50%;
    justify-content: right;
}


/* #form_cadastro div{
    margin: 10px;
} */
.botao_cliente{
    width: 50%;
    }

.botao_cliente button {
     width: 50%;
    margin: 50px auto;
    font-size: 1.2em;
    padding: 10px;
    border: none;
    background-color:#BC3908;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    border-radius: 20px;
 }
/* label{
     width: 50%;
     margin-bottom: 10px;
 } */
.card_cliente input {
    background-color: white;
    border-radius: 8px;
    width: 300px;
    height: 30px;
    border: solid 1px black;
    padding-left: 10px;
 }
 .cadastro_cliente h3{
    font-family: 'Dosis', sans-serif;
 
    
 }
.telefone{
     display: flex;
    
 }


.formulario_cadastro {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    
}

.formulario_cadastro div {
    display: flex;
    flex-direction: column;
}
.card_cliente input{
    height: 40px;
    border-style: 1px outset #707070;

}


/*Medias Queries*/

@media(max-width:1169px) {
  
    .container_cadastro {
        width: 720px;
    }
    /* .card{
        width: 720px; */

        
/*Smart*/

@media(max-width:768px) {   
  
    .container_cadastro {
        width: 350px;
        

    }
    /* .card_cliente{
        width: 350px; */

    }
        .formulario_cadastro{
            display:flex;
            flex-direction: column;
    
    }
    
 


    }
    
    
