.card_receitas {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    width: 1200px;
    margin: auto;
    padding: 20px;
}
.img_receita{
    padding-top: 60px;  
    width: 470px;
}
.embarque{
    width: 1200px;
    margin: auto;
}

.foto_receita {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin-top: 60px;
}

.nome_prato {
    position: relative;
    background-color: #BC3908;
    bottom: 50px;
    top: -80px;
    height: 70px;
    background: linear-gradient(rgba(188, 57, 8, 0.53), rgba(188, 57, 8, 0.53));
    color: white;
    text-align: center;
    padding-top: 3px;
    font-size: 25px;
}

.textop{
    padding: 20px;
    background: linear-gradient(rgba(188, 57, 8, 0.53), rgba(188, 57, 8, 0.53));
}
.texto_receita{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    

}
@media (max-width: 768px) {
    .container {
        width: 320px;
    }
    .container_pai {
        width: 320px;
    }
}

.texto_receita {
    width: 320px;
    margin: auto;
}